<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Sistema Bibliotecario</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h3 class="sidebar-title">SISTEMA BIBLIOTECARIO</h3>
            <img src="static/images/gatolibro.png">
            <div class="menu">
                <a href="{{ url_for('index') }}" class="menu-link">INICIO</a>
                <a href="{{ url_for('manejar_libros') }}" class="menu-link">LIBROS</a>
                <a href="{{ url_for('manejar_usuarios') }}" class="menu-link">USUARIOS</a>
                <a href="{{ url_for('gestionar_prestamos') }}" class="menu-link">PRÉSTAMOS</a>
            </div>
            
        </nav>
        
        <main class="main-content">
            <header>
               <div id="menu-container">
                    <h1 id="titulopagina">{% block header %}{% endblock %}</h1>
                    {% block desplegable %} {% endblock %}
                </div>
            </header>
            <div class="contenidos">
                {% block contenido %}{% endblock %} 
            </div>
            
        </main>
    </div>
</body>
</html>