{% extends "base.html" %}

{% block title %}Biblioteca{% endblock %}

{% block contenido %} 
    <h1> Gestión de biblioteca </h1>
    <p> Sistema de Gestión para Biblioteca Pública. Controle y administre de forma óptima y fácil el flujo de préstamos y devoluciones de libros.</p>

    <p> Esta herramienta le permitirá llevar un control completo y detallada de su Biblioteca, tendrá acceso a herramientas especiales para tareas específicas como:</p>
    <ul class="list-group">
        <li class="list-group-item">
            Préstamos
        </li>
        <li class="list-group-item">
            Devoluciones
        </li>
        <li class="list-group-item">
            Registro de Usuarios y Libros Nuevos
        </li>
        <li class="list-group-item">
            Edicion de Usuarios y Libros Nuevos
        </li>
        <li class="list-group-item">
            Eliminar todo tipo de Registros
        </li>
    </ul>
{% endblock %}
