{% extends "base.html" %}

{% block title %}Inicio - Sistema Bibliotecario{% endblock %}

{% block header %}GESTIÓN DE BIBLIOTECA{% endblock %}

{% block contenido %}
<div class="description-box">
    <p>Sistema de Gestión para Biblioteca Pública. Controle y administre de forma óptima y fácil el flujo de préstamos y devoluciones de libros.</p>
</div>

<div class="features-section">
    <div class="features-text">
        <h3>Esta herramienta le permitirá llevar un control completo y detallada de su Biblioteca, tendrá acceso a herramientas para tareas como:</h3>
        <ul class="feature-list">
            <li>Préstamos</li>
            <li>Devoluciones</li>
            <li>Registro de Usuarios y Libros Nuevos</li>
            <li>Edicion de Usuarios y Libros Nuevos</li>
            <li>Eliminar todo tipo de Registros</li>
        </ul>
    </div>
</div>
{% endblock %}