{% extends "base.html" %}

{% block title %}Libros{% endblock %}
{% block header %}GESTIÓN DE LIBROS{% endblock %}
{% block desplegable %} 

<nav class="dropdown">
    <button class="dropbtn">☰</button>
    <div class="dropdown-content">
        <a href="#agregarLibro">Agregar Libro</a>
        <a href="#listalibros">Libros Disponibles</a>
    </div>
</nav>

{% endblock %}


{% block contenido %}
    <section id="agregarLibro">
        <div class="form-container">
            <h1>Agregar libros</h1>
            <form class="formulario" method="POST" action="{{ url_for('manejar_libros') }}">
                <div class="form-group">
                    <input placeholder="Titulo" type="text" class="form-control" id="titulo" name="titulo" required>
                </div>
                <div class="form-group">
                    <input placeholder="Autor" type="text" class="form-control" id="autor" name="autor" required>
                </div>
                <div class="form-group">
                    <input placeholder="ISBN" type="text" class="form-control" id="ISBN" name="ISBN" required>
                </div>
                <div class="form-group">
                    <input placeholder="Editorial" type="text" class="form-control" id="editorial" name="editorial" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-primary">Agregar</button>
                </div>
                
            </form>
        </div>
    </section>

    <div id="listalibros">
        <h2 id="librosdisponibles">Libros disponibles</h2>
        <ul class="list-group">
            {% for libro in libros%}
            <li class="list-group-item">
                <p>{{ libro.titulo }} por {{ libro.autor }} (ISBN: {{ libro.ISBN }}) - Editorial: {{libro.editorial}} </p>
                <div class="button-container">
                    <form action="{{ url_for('editar_libro', isbn=libro.ISBN) }}" method="GET" style="display:inline;">
                        <button type="submit" class="btn-primary">Editar</button>
                    </form>
                    
                    <form action="{{ url_for('eliminar_libro', isbn=libro.ISBN) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn-primary" onclick="return confirm('¿Seguro que quieres eliminar este libro?')">
                            Eliminar
                        </button>
                    </form>
                </div>
            </li>
            
            {% endfor %}
        </ul>
    </div>
{% endblock %}